@charset "UTF-8";

html {
    font-size : 75%; 
}
 
@media screen and (min-width :1000px){
    html{ font-size : 80%;} 
}
 
@media screen and (min-width : 1400px) {
    html{ font-size : 100%}; 
}


a { text-decoration: none;}
a:hover { text-decoration: none;}


body{
        margin: 0;
    }


.Body {

            height: auto;
            width: auto;
            font-family:
            'M+ C Type-1 (basic latin) Regular',
            'M+ Type-1 (general-j) Regular', sans-serif;
            background-color: white;
}

.Head {
            width: 100%;
            height: 3.125em;
            border-bottom: dashed gray; 
            border-width: 0 0 0.1875em;
            font-family: 'Open Sans Condensed', sans-serif;
}

.Head:after {  
        content:"";
        display:block;
        clear: both;
    }



.Title{
    float:left;
    width:70%;
    height:100%;
}

.Title h1 {     
                font-size : 2.5em;
                margin:0em;
                margin-left: 0.625em;
            }

.Mypage {
            float:left; 
            width:27%;
            margin-top:1.25em;
            margin-right: 3%;        
}

.Mypage a {
        font-size:1.5em;
        margin-left:0.5em;
        color:black;
        }

.Mypage a:hover{
    color:deeppink;
}

.DetailList {
    margin-top: 5em;
    height: auto;
    width: auto;
}

.DetailList:after {  
        content:"";
        display:block;
        clear: both;
    }

.Detail{
    float:left;
    height: 20em;
    width: 20em;
    margin-left: 2.5em;
    border:0.625em solid #FF69B4;
    -webkit-transition: 1s ease-in-out;
}

.Detail:hover{
    -webkit-border-top-left-radius: 3.125em;
    -webkit-border-top-right-radius: 3.125em;
    -moz-border-radius-topleft: 3.125em;
    -moz-border-radius-topright: 3.125em;
    -webkit-border-bottom-right-radius: 3.125em;
    -webkit-border-bottom-left-radius: 3.125em;
    -moz-border-radius-bottomright: 3.125em;
    -moz-border-radius-bottomleft: 3.125em;
    border:0.625em #C71585 dotted ;
}

.Detail h1  {       
        font-size : 1.5625em;
        margin-bottom:0.3125em;
        margin-top:1.25em;
}


.Data:after {  
        content:"";
        display:block;
        clear: both;
    }

.Data{
    width:auto;
    height:8.125em;
    padding-top: 1.5625em; 
}


.Figure  {
      float:left;
      width:40%;
        
}

.Figure img{
    width:6em;
    height:6em
}

.Imformation  {
        float:left;      
        width:60%;
}


.Imformation h2  {       
        font-size : 0.9375em;
        margin:0em;
}

.Imformation p  {       
        font-size : 0.9375em;
        margin:0em;
        margin-top:0.625em;
}


.Button  { 
        padding-top: 0.625em;  
}

.btn {
    position:relative;
    background-color:#FF69B4;
    padding:0.3125em;
    padding-right:0.9375em;
    padding-left:0.9375em;
    font-size:0.9375em;
    text-decoration:none;
    color:white;
    background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
    box-shadow: inset 0em 0.0625em 0em #FF69B4, 0em 0.375em 0em #C71585;
    border-radius: 0.3125em;
}

.btn:active {
    top:0.4375em;
    background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
    box-shadow: inset 0em 0.0625em 0em #FF69B4, inset 0em -0.0625em 0em #C71585;
    color: #156785;
    text-shadow: 0em 0.0625em 0em rgba(255,255,255,0.3);
    background: rgb(44,160,202);
}

.btn::before {
    background-color:#072239;
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    padding-left:0.125em;
    padding-right:0.125em;
    padding-bottom:0.25em;
    left:-0.125em;
    top:0.3125em;
    z-index:-1;
    border-radius: 0.375em;
    box-shadow: 0em 0.0625em 0em #fff;
}

.btn:active::before {
    top:-0.125em;
}

