<!DOCTYPE html>
<html lang="ja">
{% load staticfiles %}
{% load Market_extras %}


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Market/transaction.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <script>
    var price = {{price|safe}};
    var share = {{share|safe}};
    var P0 = {{P0|safe}};
    var count = 0
    </script>

</head>

<body>

<div class = "Body" align="center">
<p>仕入れ値</p>

<div class = "Security" align="left">

{% if error_message %}
<p style="color:red;" align="center">{{ error_message }}</p>
{% endif %}

{% if Overflow_message %}
<p style="color:red;" align="center">そんなにたくさん支給できません！</p>
{% endif %}

<form action="/market/{{market.id}}/buy/" method="post" name="form1">
{% csrf_token %}
<ul>
{% for security in market.security_set.all %}

    <input type="radio" name="security" id="security{{ forloop.counter }}"
     value="{{ security.id }}" />
    <label for="security{{ forloop.counter }}">{{ security.product_name }}</label>
    <script>
    var s_price = price[count] + {{security.gross_margin}};
    s_price = Math.round( s_price * 100 ) / 100 ;
    document.write(s_price);
    count +=1;
    </script>
    <br>
{% endfor %}


</ul>
</div>

<div class="Information">


<ul>
{% if form.errors %}

    {%  for field in form %}
        {% for error in field.errors %}
            <p style="color:red">{{ error|escape }}</p>
            <script>
            var s_price = price[count] + P0 * 4 + {{security.add_cost}};
            s_price = Math.round( s_price * 100 ) / 100 ;
            document.write(s_price);
            count +=1;
            </script>
        {% endfor %}
    
        {{field.label_tag}} {{field}}

     {% endfor %}

{% else %}

</ul>
</div>

<label>amount:<input type="number" name="amount" min=0></label><br>

{% endif %}

<div class="Button" align="center">
<p>
<a class="btn" href="#" onclick="document.form1.submit();">Done</a>
<a class="btn" onclick="window.opener.location.reload(),window.close();">Cancel</a>
</p>
</div>

</form>
</div>
</body>
</html>