<!DOCTYPE html>
<html lang="ja">
{% load staticfiles %}


<head>
    <meta charset="utf-8">
    <title>Preference Market</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Market/choice_shop.css' %}" />
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
	<link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body link="black" vlink="black">

<div class = "Head">
<div class = "Title">
<h1>OPEN NEW SHOP</h1>
</div>
<div class = "Mypage" align ="right">
<a href="/market/mypage"><i class="fa fa-home"></i> MYPAGE </a>
</div>
</div>

<div class = "Detail" align ="center">

<h1>Choice <a style="color:hotpink;">S</a>hop Design</h1>

{% for shop in shop_list %}

	<div class = "Shop" align ="center">
	<img src= "{{shop.img_url}}/{{shop.name}}.png" width="150" height="150" />
	<br>
	<a class="btn" href="/market/{{area.id}}/{{shop.id}}/choice_color/">Choice</a>
	</div>

{% endfor %}
</div>

</body>
</html>