<!DOCTYPE html>
<html lang="ja">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Market/logout.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">

</head>

<body>

<div class="Body" align ="center">

<div class = "Radius">

<img src="/static/images/logout.png/" width="150" height="150"/>
<p>DROPOUT</p>

<a class="btn" href="/market/{{rs.id}}/RetailStore_page">SHOP PAGE</a>
</div>

</div>
</body>
</html>
