<!DOCTYPE html>
<html lang="ja">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>Preference Market</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Market/normal.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="Body" align ="center">

<div class = "Radius">
<p>Login!</p>
<img src="{% static 'images/sucsess.jpg' %}"/>
<br>
<a class="btn" href="/market/mypage/">MYPAGE</a>
</div>
</div>
</body>
</html>
