<!DOCTYPE html>
<html lang="ja">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Preference Market</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Market/questionnaire.css' %}" />
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">


</head>

<body>

<div class="Body" align="center">

<div id='questant-embed-142611' data-type='0' data-width='800' data-height='600'>
<script type='text/javascript' src='https://questant.jp/q/e.js?q=OC2PZH47&d=0'>
</script>
</div>
<a class="btn" href="{{back_url}}">Back</a>
</div>
</body>
